.papers,
.paper-single {
    @include box-sizing(border-box);
    font-weight: 200;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    padding: 2.8em 0 1em 0;
    width: 95%;
}

.paper-container img,
.paper-single {
    max-width: 940px;
}

.paper-container {
    background-color: rgba(#000, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    &.hidden {
        display: none;
    }

    .close-btn {
        background-color: transparent;
        border: 0;
        color: #fdfdfd;
        cursor: pointer;
        font-size: 1.6em;
        font-weight: 700;
        position: absolute;
        right: 0.25em;
        top: 0.1em;
        z-index: 2;
    }

    img {
        border-radius: 3px;
        display: block;
        margin: 2.4em auto 0 auto;
        width: 98%;
    }
}

@media screen and (min-width: 1400px) and (min-height: 860px) {
    .paper-container img,
    .paper-single {
        max-width: 1156px;
    }
}

.paper {
    @include box-sizing(border-box);
    padding-bottom: 1em;
    @include transition(opacity 0.1s);

    a {
        display: block;
        text-decoration: none;
    }

    img {
        border-radius: 3px;
        display: block;
        width: 100%;
    }

    &.open {
        opacity: 0.1;
    }
}

@media screen and (min-width: 580px) {
    .papers .paper {
        padding-bottom: 0.8em;
        float: left;
        margin-right: 2%;
        width: 49%;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media screen and (min-width: 880px) {
    .papers {
        width: 98%;
    }

    .papers .paper {
        $margin: 1.6%;
        margin-right: $margin;
        width: 32.2%;

        &:nth-child(2n) {
            margin-right: $margin;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

@media screen and (min-width: 1150px) {
    .papers .paper {
        $margin: 1.3%;
        margin-right: $margin;
        width: 24%;

        &:nth-child(2n),
        &:nth-child(3n) {
            margin-right: $margin;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }
    }
}

.paper-published {
    color: #f2f2f2;
    display: block;
    font-size: 0.8em;
    padding: 0.5em 0.4em 0.4em 0.4em;
    text-align: center;
    -webkit-text-size-adjust: none;
}

.no-papers {
    padding-top: 5em;
}