<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tyler Gaw - Papersaver</title>
        <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Exo+2:200,400,700"> -->
        <link rel="stylesheet" href="/papers/static/css/papers.css">
    </head>
    <body>
        <header role="banner">
            <h1 class="mark">
                <a href="/papers/">P</a>
            </h1>
            <div role="contentinfo">
                <a href="https://github.com/tylergaw/papersaver">Info</a> •
                <a href="https://github.com/tylergaw/papersaver">Source</a>
            </div>
        </header>
        <div role="main">
            {% block content %}{% endblock %}
        </div>
        <script>
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24386968-1']);
          _gaq.push(['_setDomainName', 'tylergaw.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>