{% extends "layout.html" %}
{% block content %}
<ul class="papers">
{% set papers = env.utils.getSortedPaperDirs(contents) %}

{% for paper in papers %}
    <li class="paper">
        <a href="{{ paper.url }}">
            <img src="{{ paper.url }}{{ paper.metadata.image_path }}" alt="">
            <time class="paper-published" datetime="{{ paper.date }}">
                {{ env.utils.getDateFormatted(paper.date) }}
            </time>
        </a>
    </li>
{% endfor %}

{% if papers.length == 0 %}
    <li class="no-papers">
        No Papers kid. Go draw something.
    </li>
{% endif %}

</ul>
{% endblock %}